@charset "UTF-8";
html::-webkit-scrollbar {
    display: none;
}



/* --------------banner start------------- */

section.container {
    width: 100vw;
    /* width: 90vw; */
    /* margin: 0 auto; */
    overflow: hidden;
    position: relative;
    /* margin-top: 5%; */
}

div.banner {
    width: 800vw;
    /* width: 720vw; */
    /* transform: translate(-90vw); */
}

div.banner div {
    width: 100vw;
    /* width: 90vw; */
    float: left;
}

div img {
    width: 100%;
}

div.arrow {
    position: absolute;
    font-size: 2rem;
    width: 80px;
    height: 80px;
    /* background-color: #0000002e; */
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    top: 45%;
    line-height: 20px;
    
}

div.next {
    right: 0%;
    display: none;
}

div.prev {
    z-index: 1;
    left: 0%;
    display: none;

}

div.btns {
    width: 100vw;
    /* width: 90vw; */
    text-align: center;
    position: absolute;
    bottom: 10px;
    display: none;

}

div.btns .btn {
    border-radius: 30%;
    /* border: 0.5px solid #f0f0f0; */
    /* border: 0.5px solid white; */
    border: 0.0px solid white;
    width: 10px;
    height: 6px;
    display: none;
}

/* div.firstBan{
    background-image: url();
}

div.lastBan{

} */

/* --------------banner end------------- */

/* 화살표  */
/* #mark-bottom{
    position: absolute;
    background-image: url(../../img/blue-arrow-removebg-preview.png);
    background-image: url(../../img/arrow-bottom.png);
    filter: opacity(0.5) drop-shadow(0 0 0 #fff);
    width: 30px;
    height: 30px;
    z-index: 5;
    bottom: 50px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    right: 50%;
}

#mark-bottom2{
    position: absolute;
    background-image: url(../../img/blue-arrow-removebg-preview.png);
    background-image: url(../../img/arrow-bottom.png);
    filter: opacity(0.3) drop-shadow(0 0 0 #fff);
    width: 30px;
    height: 30px;
    z-index: 5;
    bottom: 90px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    right: 50%;
} */

/* 랭킹 10등까지 목록 시작 */
main {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    /* 배경색 어둡게 */
    /* background-color: #000; */
    /* 배경색 밝게 */
    background-color: #fff;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
    /* 글씨 색 밝게 */
    /* color: #fff; */
    /* 글씨 색 어둡게 */
    color: #000;
    letter-spacing: -.02em;
}

#ranking-part-wrapper {
    /* color: #fff; */
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
    /* 색 어둡게 */
    /* color: #000; */
    /* 글자색 밝게 */
    /* color: #fff; */
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 16px;
    max-width: 1000px;
    box-sizing: content-box;
    padding-top: 80px;
    letter-spacing: -.02em;
}

#ranking-title{
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
}

#title-text {
    font-size: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    /* color: #fff; */
    font-weight: bold;
}

#title {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 28px;
    letter-spacing: -.6px;
    font-size: 18px;
    /* font-weight: 700; */
    font-weight: 400;
    color: #adb5bd;}

#title-br {
    line-height: 28px;
    letter-spacing: -.6px;
    font-size: 18px;
    font-weight: 400;
    color: #adb5bd;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
}

#ranking-part {
    vertical-align: baseline;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    margin-top: 18px;
    text-align: left;
    /* justify-content: space-between; */
    justify-content: space-around;
}

.top10-lists {
    word-break: keep-all;
    overflow-wrap: break-word;
    vertical-align: baseline;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    /* padding: 22px; */
    list-style: none;
    width: calc(50% - 8px);
    margin-top: 48px;
    max-width: 444px;
    /* box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px; */
}

.list-container {
    letter-spacing: -.02em;
    word-break: keep-all;
    overflow-wrap: break-word;
    list-style: none;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

.list-image-wrapper {
    word-break: keep-all;
    overflow-wrap: break-word;
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 0;
    padding-top: 24.5%;
    width: 34%;
}

.list-image {
    word-break: keep-all;
    overflow-wrap: break-word;
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .25s;
    background: no-repeat 50%/cover border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 10px;
    opacity: 1;
    /* background-image: url(https://cdn.wadiz.kr/wwwwadiz/green001/2022/0707/20220707105517889_150229.png/wadiz/resize/300/format/jpg/quality/85/); */
}

.list-image2{
    /* background-image: url(https://cdn.wadiz.kr/wwwwadiz/green001/2022/0221/20220221171434768_141202.jpg/wadiz/resize/300/format/jpg/quality/85/);     */
}

.list-text-wrapper {
    letter-spacing: -.02em;
    word-break: keep-all;
    overflow-wrap: break-word;
    list-style: none;
    cursor: pointer;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    flex-shrink: 0;
    text-decoration: none;
    margin-bottom: 0;
    max-width: 56.5%;
    margin-left: 20px;
}

.ranking-top-number {
    word-break: keep-all;
    overflow-wrap: break-word;
    margin-bottom: 17px;
    height: 19px;
    width: 90px;
}

.ranking-number {
    /* test 원래 색 따와야 함 */
    color: blue;
    font-weight: bold;
    font-size: 23px;
}

.inner-text-wrapper {
    letter-spacing: -.02em;
    word-break: keep-all;
    overflow-wrap: break-word;
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

.middle-text-wrapper {
    word-break: keep-all;
    overflow-wrap: break-word;
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

.middle-text {
    word-break: keep-all;
    overflow-wrap: break-word;
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 28px;
    letter-spacing: -.6px;
    font-size: 18px;
    font-weight: 700;
}

.bottom-text-wrapper {
    letter-spacing: -.02em;
    word-break: keep-all;
    overflow-wrap: break-word;
    list-style: none;
    display: block;
    margin-inline-start: 40px;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.bottom-text {
    word-break: keep-all;
    overflow-wrap: break-word;
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    color: #adb5bd;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}
/* 랭킹 10등까지 목록 끝 */

.promotion-write-button {
    white-space: nowrap;
    font-weight: 500;
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 96%;
    /* width: 100%; */
    /* width: 344px; */
    height: 48px;
    margin-top: 24px;
    padding: 9px 24px;
    line-height: 1.75;
    font-size: 16px;
    border-color: #000;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    margin-top: 100px;
}