@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');

@font-face {
    font-family: wadizicon;
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/static/web/media/wadizicon.1de1502a.eot#iefix) format("embedded-opentype"),url(https://static.wadiz.kr/static/web/media/wadizicon.f5cdf486.woff2) format("woff2"),url(https://static.wadiz.kr/static/web/media/wadizicon.9eb6b0a9.woff) format("woff"),url(https://static.wadiz.kr/static/web/media/wadizicon.e5379495.ttf) format("truetype"),url(https://static.wadiz.kr/static/web/media/wadizicon.077f5804.svg#wadizicon) format("svg")
}

body {
    line-height: 1.33;
    font-family: Noto Sans KR !important;
}

body {
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

body, html {
    -webkit-text-size-adjust: none;
}

body, body button, body input, body select, body textarea {
    font-family: Noto Sans KR;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}



a, em, div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

body li, body ol, body ul {
    list-style: none;
}

article, main, section {
   	display: block;
}

input, optgroup, select, textarea {
    color: inherit;
}

button {
    background: none;
    color: inherit;
}

.Wrapper {
    transition: padding-top .25s;
    padding-top: 0;
}

/* 주문 및 결제 */
.Layout {
    position: relative;
    background-color: #f2f4f6;
}

.Layout .Notice {
    background-color: #fff;
    padding: 0 16px;
}

.Box {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    font-family: Noto Sans KR;
    word-break: keep-all;
    overflow-wrap: break-word;
    letter-spacing: -.3px;
    background-color: #f9fafb;
    color: #495057;
}

.withIcon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
    margin-top: 2px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #868e96;
}

.Box_title {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 8px;
    text-align: left;
    margin-bottom: 8px;
}

.Box_description {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    text-align: left;
    word-break: keep-all;
    overflow-wrap: break-word;
    color: #495057;
    margin-left: -20px;
}

.Box_description ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Box_description ul li {
    display: flex;
    margin-bottom: 4px;
    line-height: 18px;
}

.Box_description ul li:before {
    display: inline-flex;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 14px;
    content: "\2022";
    box-sizing: border-box;
}

/* 주문 정보 */
.Section_container {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 16px;
}

.Section_container .Section_titleContainer {
    position: relative;
}

.Section_container .Section_titleContainer .Section_title {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 700;
}

.Section_container .Active1 {
    margin-top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.Section_container .Active1.Active2 {
    margin-top: 8px;
    height: auto;
    overflow: visible;
    word-break: break-all;
}

.Information {
    background-color: #f9fafb;
    padding: 16px;
}

.Information .Information_row {
    margin-top: 8px;
}

.Information .Information_row:first-child {
    margin-top: 0;
}

.Information .Information_row span {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}

.Information .Information_row span.Information_label {
    width: 90px;
}

/* 주문 요청 사항을 입력하세요 */
.Input1 {
    display: block;
    transition-property: border-color,background-color,color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 3px;
    background-color: #fff;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    height: auto;
    color: #212529;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-appearance: none;
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 400;
}

.Input1.Input2 {
    height: 48px;
    min-height: 48px;
}

.Product {
    position: relative;
}
/* 주문 요청 사항 */
.Product .Product_container .TextContainer {
    float: left;
    width: 100%;
}
/* 상품명 */
.Product .Product_container .TextContainer .ProductName {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 400;
}
/* description */
.Product .Product_container .TextContainer .ProductDescription {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
}
/* 옵션 */
.Product .Product_container .TextContainer .OptionsContainer {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
}
/* 가상요소 */
.Product .Product_container:after {
    display: block;
    clear: both;
    content: "";
}
/* 가격정보 */
.Product .ProductInfo {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    width: 100%;
}
/* 시작 날짜 */
.Product .ProductInfo .Info_date {
    vertical-align: bottom;
    line-height: 28px;
}
/* 금액 */
.Product .ProductInfo .Info_price {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 700;
    float: right;
}
/* 가상요소 */
.Product .ProductInfo:after {
    display: block;
    clear: both;
    content: "";
}

.Product .Divider {
    margin: 14px 0 16px;
    background-color: #e6eaed;
    width: 100%;
    height: 1px;
}
/* 가상요소 */
.Product:after {
    display: block;
    clear: both;
    content: "";
}

.select-menu {
    word-break: keep-all;
    overflow-wrap: break-word;
}

.select-menu__control {
    border: 1px solid #dde2e6;
    border-radius: 3px;
    box-shadow: none;
}

.css-1fhf3k1-control {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
    border-color: rgb(230, 230, 230);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
}

.medium .select-menu__control {
    height: 48px;
    min-height: 48px;
}

.select-menu__value-container {
    padding-right: 16px;
    padding-left: 16px;
}

.css-1hwfws3 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.css-1wa3eu0-placeholder {
    color: rgb(128, 128, 128);
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.css-62g3xt-dummyInput {
    background: 0px center;
    border: 0px;
    font-size: inherit;
    outline: 0px;
    padding: 0px;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    transform: scale(0);
}

.css-1wy0on6 {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}

.menu-indicator1 {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 24px;
}


.menu-indicator3 {
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}

.withIcon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.ChooseMode ul li {
    margin-top: 16px;
}

.NicePay1 {
    display: inline-block;
    position: relative;
    border: 1px solid #dde2e6;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
    max-width: 343px;
    height: auto;
    color: #495057;
}

.NicePay1.NicePay2 {
    border-color: #00c4c4;
    padding: 12px 16px;
}

.NicePay1 .StorePaymentNicePay_title__1Ppay {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 24px;
}

.NicePay1 .StorePaymentNicePay_title__1Ppay * {
    vertical-align: top;
}

label.Radio_radio__2k70h>input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.NicePay1 .StorePaymentNicePay_title__1Ppay svg {
    display: inline-block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

label.Radio_radio__2k70h {
    display: block;
    position: relative;
    margin: 16px 0;
}

.NicePay1 .StorePaymentNicePay_title__1Ppay .StorePaymentNicePay_radio__2Zx3M {
    display: inline-block;
    margin: 0 12px 0 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.NicePay1.NicePay3 .StorePaymentNicePay_checkIcon__3gaNh {
    margin-right: 12px;
    color: #00c4c4;
}

.NicePay1.NicePay3 .StorePaymentNicePay_radio__2Zx3M {
    display: none;
}

.NicePay1 .StorePaymentNicePay_title__1Ppay>span {
    vertical-align: middle;
}

.NicePay1 .StorePaymentNicePay_notification__D1ZcP {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
    padding-left: 36px;
    color: #adb5bd;
}

.StoreInformation_storeInformation__nBaVr {
    background-color: #f9fafb;
    padding: 16px;
}

label.Radio_radio__2k70h>.Radio_icon__SObGY {
    display: block;
    position: relative;
    transition-property: opacity,border-color,background-color;
    transition-duration: .15s;
    opacity: 1;
    z-index: 1;
    border: 1px solid #cdd3d8;
    border-radius: 999em;
    background-color: #fff;
    width: 1em;
    height: 1em;
    font-size: 1em;
    box-sizing: border-box;
}

label.Radio_radio__2k70h.Radio_lg__2b_Sp>span {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 400;
}

label.Radio_radio__2k70h.Radio_lg__2b_Sp>.Radio_icon__SObGY {
    font-size: 24px;
}

label.Radio_radio__2k70h>input:checked+.Radio_icon__SObGY {
    border-color: #00c4c4!important;
}

label.Radio_radio__2k70h .Radio_label__14nd4 {
    vertical-align: -1px;
    color: #212529;
}

.DefaultPrice_container__1gf10 {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    border-radius: 8px;
    background-color: #f9fafb;
    cursor: pointer;
    padding: 16px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.DefaultPrice_container__1gf10 .DefaultPrice_title__3iw65 .DefaultPrice_radioButton__1nTXN {
    display: inline-block;
    margin: 0 8px 0 0;
    cursor: pointer;
}

label.Radio_radio__2k70h.Radio_md__3xeXE>span {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 400;
}

label.Radio_radio__2k70h.Radio_md__3xeXE>.Radio_icon__SObGY {
    font-size: 20px;
}

label.Radio_radio__2k70h>input:checked+.Radio_icon__SObGY {
    border-color: #00c4c4!important;
}

label.Radio_radio__2k70h>.Radio_icon__SObGY:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-property: background-color;
    transition-duration: .15s;
    border-radius: 999em;
    background-color: #fff;
    width: 0.5em;
    height: 0.5em;
    content: "";
}

label.Radio_radio__2k70h>input:checked+.Radio_icon__SObGY:before {
    background-color: #00c4c4;
}

label.Radio_radio__2k70h .Radio_label__14nd4 {
    vertical-align: -1px;
    color: #212529;
}

.DefaultPrice_container__1gf10 .DefaultPrice_title__3iw65 {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
    display: inline-flex;
    margin-bottom: 8px;
    color: #212529;
}

.TitleValuePrice_container__Hcpla {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

.DefaultPrice_container__1gf10 dl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    color: #495057;
}

.TitleValuePrice_container__Hcpla dl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    color: #495057;
}

.TitleValuePrice_container__Hcpla dd {
    display: inline-flex;
    align-items: center;
}

.TitleValuePrice_container__Hcpla .TitleValuePrice_money__1Tu-B {
    margin-right: 4px;
}

.TitleValuePrice_container__Hcpla .TitleValuePrice_divide__2bMnX {
    margin: 12px -16px 2px!important;
    border: 1px solid #e6eaed;
}

.TitleValuePrice_container__Hcpla .TitleValuePrice_total__oJwm4 {
    margin-top: 12px;
    color: #212529;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
}

.TitleValuePrice_container__Hcpla .TitleValuePrice_total__oJwm4 em {
    line-height: 28px;
    letter-spacing: -.6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    font-size: 20px;
}

.Checkbox_checkbox__pamoY {
    display: block;
    position: relative;
}

.Checkbox_checkbox__pamoY.Checkbox_labeled__zQ0mF {
    display: block;
    line-height: 1.33;
    font-size: 15px;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsCheckbox__3gruT {
    cursor: pointer;
}

.Checkbox_checkbox__pamoY .Checkbox_input__3UBmW {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    padding: 0;
}

.Checkbox_checkbox__pamoY .Checkbox_icon___4ktl {
    display: block;
    position: relative;
    transition-property: opacity,border-color,background-color;
    transition-duration: .15s;
    opacity: 1;
    z-index: 1;
    border: 1px solid #cdd3d8;
    border-radius: 3px;
    background-color: #fff;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
}

.Checkbox_checkbox__pamoY.Checkbox_labeled__zQ0mF .Checkbox_icon___4ktl {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}

.Checkbox_checkbox__pamoY.Checkbox_lg__2FN3A .Checkbox_icon___4ktl {
    font-size: 24px;
}

.Checkbox_checkbox__pamoY .Checkbox_icon___4ktl svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-property: opacity,width,fill;
    transition-duration: .15s;
    width: em(18.7px,24px);
    height: em(18.7px,24px);
    fill: #fff;
}

.Checkbox_checkbox__pamoY .Checkbox_input__3UBmW+.Checkbox_icon___4ktl .Checkbox_checkIcon__1uUVj, .Checkbox_checkbox__pamoY .Checkbox_input__3UBmW+.Checkbox_icon___4ktl .Checkbox_removeIcon__2VWZr {
    opacity: 0;
}

.Checkbox_checkbox__pamoY.Checkbox_labeled__zQ0mF .Checkbox_content__2Ze7x {
    display: inline-block;
    vertical-align: -0.1em;
    color: #212529;
}

.Checkbox_checkbox__pamoY.Checkbox_labeled__zQ0mF.Checkbox_lg__2FN3A .Checkbox_content__2Ze7x {
    letter-spacing: -.6px;
    font-size: 16px;
    font-weight: 700;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_text__1tYhe {
    display: block;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i {
    margin-top: 16px;
    padding: 0 8px;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 {
    line-height: 20px;
    /* letter-spacing: 0; */
    font-size: 14px;
    font-weight: 400;
    display: block;
    position: relative;
    margin-top: 24px;
    padding-left: 24px;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_smallCheckBox__YwfQ5 {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    cursor: pointer;
}

.Checkbox_checkbox__pamoY.Checkbox_sm__KgIAv .Checkbox_icon___4ktl {
    font-size: 16px;
}

.Button_button__mRXZC {
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box!important;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.Button_button__mRXZC.Button_sm__1aKYg {
    padding: 6px 12px;
    line-height: 1.5;
    font-size: 12px;
    border: none;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_termsDetailButton__29smA {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0;
}

.Button_button__mRXZC.Button_iconOnly__1hahW.Button_sm__1aKYg {
    padding: 8px;
}

.Button_button__mRXZC.Button_iconOnly__1hahW {
    padding: 12px;
    height: auto;
}

.Button_button__mRXZC.Button_iconOnly__1hahW>span svg {
    width: 16px;
    height: 16px;
}

.Button_button__mRXZC.Button_iconOnly__1hahW.Button_sm__1aKYg>span svg {
    width: 16px;
    height: 16px;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_termsDetailButton__29smA svg {
    width: 16px;
    height: 16px;
}

button[class*=Button_button] {
    -webkit-tap-highlight-color: transparent;
}

.Button_button__mRXZC.Button_block__1LAUA {
    width: 100%;
}

.Button_button__mRXZC.Button_contained__k9pMW {
    border-color: #dde2e6;
    background-color: #dde2e6;
}

.Button_button__mRXZC.Button_primary__1HJqX {
    border-color: #00c4c4;
    color: #00a2a2;
}

.Button_button__mRXZC.Button_lg__22YWj {
    padding: 9px 24px;
    line-height: 1.75;
    font-size: 16px;
}

.Layout .Layout_submitButton__1fQJ4 {
    margin-top: 26px;
}

.Button_button__mRXZC.Button_primary__1HJqX.Button_contained__k9pMW {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.Button_button__mRXZC span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button_button__mRXZC .Button_children__3HY2l {
    vertical-align: top;
}




/* ======================================media======================================= */
@media screen and (min-width: 1097px) {
.Wrapper {
    padding-top: 0;
    padding-bottom: 0;
}

.Layout {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0;
    background-color: #fff;
    max-width: 1140px;
}

.Layout .Container {
    width: 100%;
    max-width: 729px;
}

.PageTitle {
    line-height: 38px;
    letter-spacing: -.6px;
    font-size: 28px;
    font-weight: 700;
    padding: 0 16px 24px;
}

.Box_description {
    line-height: 20px;
}

.Section_container .Section_titleContainer .Section_title {
	line-height: 30px;
    letter-spacing: -.6px;
    font-size: 20px;
    font-weight: 700;
}

.Layout .Layout_floatingSectionContainer__2QCzS {
    margin-top: 24px;
    width: 343px;
}

.Layout .Layout_floatingSectionContainer__2QCzS .Layout_floatingSection__31pLD {
    position: sticky;
    top: 40px;
}

.Layout .Layout_floatingSectionContainer__2QCzS .Layout_floatingSection__31pLD .Layout_floating__3iHN0 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}





}