<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.dhouse.user.domain.UserVO" alias="userVO"/>
		<typeAlias type="com.dhouse.corp.domain.CorpVO" alias="corpVO"/>
		<typeAlias type="com.dhouse.food.domain.FoodVO" alias="foodVO"/>
		<typeAlias type="com.dhouse.reply.domain.ReplyVO" alias="replyVO"/>
		<typeAlias type="com.dhouse.file.domain.FileVO" alias="fileVO"/>
		<typeAlias type="com.dhouse.promotionboard.domain.PromotionBoardVO" alias="promotionBoardVO"/>
		<typeAlias type="com.dhouse.donationboard.domain.DonationBoardVO" alias="donationBoardVO"/>
		<typeAlias type="com.dhouse.banner.domain.BannerVO" alias="bannerVO"/>
	</typeAliases>
	
	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/dhouse"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/dhouse/mybatis/mapper/userMapper.xml"/>
		<mapper resource="com/dhouse/mybatis/mapper/corpMapper.xml"/>
		<mapper resource="com/dhouse/mybatis/mapper/adminMapper.xml"/>
		<mapper resource="com/dhouse/mybatis/mapper/myPageMapper.xml"/>
		<mapper resource="com/dhouse/mybatis/mapper/myPageCorpMapper.xml"/>
		<mapper resource="com/dhouse/mybatis/mapper/foodMapper.xml"/>
		<mapper resource="com/dhouse/mybatis/mapper/replyMapper.xml"/>
		<mapper resource="com/dhouse/mybatis/mapper/fileMapper.xml"/>
		<mapper resource="com/dhouse/mybatis/mapper/promotionBoardMapper.xml"/>
		<mapper resource="com/dhouse/mybatis/mapper/donationBoardMapper.xml"/>
		<mapper resource="com/dhouse/mybatis/mapper/bannerMapper.xml"/>
	</mappers>
</configuration>















