<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="corp">

	<select id="selectAll" parameterType="map" resultType="corpDTO">
		select user_id, user_identification, user_password, user_name, user_nickname, user_phone, user_email, 
			corp_address, corp_register_number, corp_introduction_text, corp_file_system_name, food_sum, food_count, 
			level_level, level_discount  
		from view_corp_food_level 
		order by food_sum 
		desc 
		limit #{startRow}, #{rowCount}
	</select>

	<!-- 기업 총 개수 -->
	<select id="getTotal" resultType="long">
		select count(user_id) from view_corp_food_level 
	</select>

	<select id="isNextPage" parameterType="map" resultType="corpDTO">
		select user_id 
		from view_corp_food_level 
		limit #{nextStartRow}, #{rowCount}
	</select>
	
	<!-- 기업 상세 페이지 detail -->
	<select id="selectDetail" parameterType="long" resultType="corpDTO">
		select c.user_id , c.file_system_name , 
			u.user_nickname , c.corp_introduction_text , 
			u.user_phone , u.user_name , c.corp_address ,  
			f.food_id , f.food_name , f.food_amount , f.food_request_date  
		from tbl_corp c join tbl_user u
			on c.user_id = u.user_id 
			join tbl_food f on c.user_id = f.user_id 
		and c.user_id = #{userId}
		order by f.food_request_date desc
		limit 3
	</select>
	
	<!-- 기업 상세 페이지 ranking -->
	<select id="selectRanking" resultType="corpDTO">
		select user_id, ranking, rank_percent, total_donation
		from view_corp_ranking
	</select>
	
	
</mapper>