<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="donationBoard">
	<insert id="insert" parameterType="donationBoardVO">
		insert into tbl_donation_board(donation_board_title, donation_board_contents, user_id)
		values(#{donationBoardTitle}, #{donationBoardContents}, #{userId})
	</insert>
</mapper>