<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="food">
	<insert id="insert" parameterType="foodVO">
		insert into tbl_food(food_name, food_amount, food_request_date, file_system_name, user_id) 
		value (#{foodName}, #{foodAmount}, #{foodRequestDate}, #{fileSystemName}, #{userId})
	</insert>
	
	<select id="getCurrentSequence" resultType="long">
		select last_insert_id()
	</select>
</mapper>