<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
<!-- 회원가입 -->
	<insert id="join" parameterType="userVO">
		insert into tbl_user(user_identification, user_password, user_name, user_nickname, user_phone, user_email)
		values(#{userIdentification}, #{userPassword}, #{userName}, #{userNickname}, #{userPhone}, #{userEmail})
	</insert>
	
<!-- 기업 회원가입 -->
	<insert id="insertCorp" parameterType="CorpVO">
		insert into tbl_corp(corp_address, corp_register_number, user_id, corp_introduction_text, file_system_name)
		values(#{corpAddress}, #{corpRegisterNumber}, #{userId}, #{corpIntroductionText}, #{fileSystemName})
	</insert>	
	
<!-- 아이디 중복체크 -->
	<select id="checkId" parameterType="string" resultType="long">
		select user_id from tbl_user where user_identification = #{userIdentification}
	</select>
	
<!-- 이메일 중복체크 -->
	<select id="checkEmail" parameterType="string" resultType="long">
		select user_id from tbl_user where user_Email = #{userEmail}
	</select>

<!-- 로그인 -->
	<select id="login" parameterType="map" resultType="long">
		select user_id from tbl_user
		where user_identification = #{userIdentification} and user_password = #{userPassword}
	</select>
	
	<!-- 제일 최근에 증가한 시퀀스 값 가져오기 -->
	<select id="getCurrentSequence" resultType="long">
      select last_insert_id()
   </select>
   
</mapper> 	