body {
    font-family: Roboto,Noto Sans KR,-apple-system,Dotum,sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
}

#whole-wrapper {
    /* padding-top: 172px; */
    position: relative;
    margin: 0 auto;
    padding: 152px 16px 96px;
    max-width: 1020px;
    word-break: keep-all;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
}

/* #top {
    margin: 0;
    padding: 0;
    margin-left: 255px;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    word-break: keep-all;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
} */

.title-wrapper {
    margin: 0;
    padding: 0;
    margin-left: 255px;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    word-break: keep-all;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
}

.title {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 16px;
    line-height: 44px;
    font-size: 32px;
    margin-bottom: 32px;
    color: #1d2129;
    font-weight: 700;
    vertical-align: baseline;
    box-sizing: border-box;
}

.space {
    margin: 107px 0 71px;
    border: 0;
    border-top: 1px solid #dadce0;

}

.text {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 24px;
    color: #60656a;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    letter-spacing: -.02em;
}